@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    font-family: "Poppins", Arial;
    color: #222222;
}
ul{
    list-style: none;
}
a {
    text-decoration: none;
}
/*Menu*/
.menu-container {
    max-width: 990px;
    margin:0 auto;
    padding: 15px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    z-index: 99;
    align-items: center;
}
.navbar ul{
    display: flex;
    flex-wrap: wrap;
}
.navbar a {
    display: block;
    color: #fff;
    padding: 0 10px;
    font-weight: bold;
}
/*Background*/
.main {
    background-image: url('../img/acampamento.png');
    height: 100%; 
    width: 100%;
    margin-top: -150px;
    background-position: center; 
    background-repeat: no-repeat;
    background-size: cover;
}
.container-home{
    background-color: rgba(0,0,0,0.35);
    height: 100%;
    width: 100%;
}
.text-home{
    max-width: 990px;
    height: 100%;
    color: #fff;
    margin: 0 auto;
    display:flex;
    font-weight: 800;
    line-height: 72px;
    letter-spacing: 0em;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-around;
}
.button-home{
    padding: 20px 30px;
    display: flex;
    flex-wrap: wrap;
}
.btn{
    padding: 20px 30px;
    margin: 10px 20px;
    border-radius: 48px;
    font-size: 18px;
    color: #fff;
    background-color: Transparent;
    border-color: #fff;
    font-weight: bold;
    cursor: pointer;
}
@media (max-width:760px){
    .text-home{
        padding: 0 10px;
        justify-content: center;
        line-height: 30px;
        letter-spacing: 0em;
    }
    
}
/*encontre aqui*/
.title {
    padding: 10px 0;
}
.find-here {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.find-content{
    max-width: 990px;
    display: flex;
    flex-wrap: wrap;
    padding: 30px;
    justify-content: center;
    align-items: center;
}
.find-content .find-card {
    position: relative;
    max-width: 300px;
    height: 180px;
    background: #D6A649;
    margin: 30px 10px;
    padding: 20px 15px;
    display: flex;
    flex-direction: column;
    box-sizing: 0 5px 202px rgba(0,0,0,0.5);
    transition: 0.3s ease-in-out;
}
.find-card:hover{
    height: 420px;
}
.find-content .find-card .imgBx{
    position: relative;
    width: 260px;
    height: 260px;
    top: -60px;
    left: 5px;
    box-shadow: 0 5px 20px rgba(0,0,0,0.6);
}
.find-content .find-card .imgBx img{
    max-width: 100%;
    border-radius: 4px;
}
.find-content .find-card .find-description{
    position: relative;
    margin-top: -140px;
    padding: 10px 15px;
    text-align: center;
    color: #111;
    visibility: hidden;
    opacity: 0;
    transition: 0.3s ease-in-out;
}
.find-content .find-card:hover .find-description{
    visibility: visible;
    opacity: 1;
    margin-top: -60px;
}
/*mostpopular*/
.most-popular {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.popular-container{
    max-width: 90%;
    background-color: #BAD45F;
    display: flex;
    margin: 0 auto;
    
}
.popular-img img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}
.popular-text{
    width: 80%;
    padding: 20px;
    text-align: center;
    text-align: justify;
    font-size: 25px;
}
@media (max-width: 840px){
    .popular-container{
        flex-wrap: wrap;
    }
    .popular-text{
        padding: 20px 0 20px 20px;
    }
  
}
/*preco*/
.title {
    text-align: center;
    font-size: 40px;
    font-weight: bold;
}
.preco {
    padding: 30px 0;
    margin: 80px 0 50px 0;
    background-color: #FFC2C2;
    display: flex;
    flex-direction: column;
}
.container-preco{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: center;
}
.card-preco{
    min-width: 260px;
    max-width: 300px;
    margin: 20px;
    border: 4px solid #000000;
    text-align: center;
    padding: 10px 15px;
}
.card-preco span {
    font-weight: 800;
    font-size: 40px;
}
.card-preco a{
    border: 4px solid #000000;
    border-radius: 30px;
    color: #000000;
    padding: 5px 10px;
    margin: 10px 20px;
} 
.card-preco ul{
    padding: 0 0 10px 0;
}
/*Galeria*/
.gallery {
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.gallery-container{
    max-width: 990px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 150px;
    padding: 20px;
    grid-gap: 10px;
}
.gallery-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
    transition: all 0.3s;
}
.gallery-img:hover {
    transform: scale(1.2);
}
.gallery-item:nth-child(5) {
    grid-row-start: span 2;
}
@media (max-width: 768px) {
    .gallery-container{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}

/*footer*/
footer {
    background-color: #C4C4C4;
    padding: 30px;
    margin-top: 60px;
}
