@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    font-family: "Poppins", Arial;
    color: #222222;
}
ul{
    list-style: none;
}
a {
    text-decoration: none;
}
/*Menu*/
.menu-container {
    max-width: 990px;
    margin:0 auto;
    padding: 15px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    z-index: 99;
    align-items: center;
}
.navbar ul{
    display: flex;
    flex-wrap: wrap;
}
.navbar a {
    display: block;
    color: #333;
    padding: 0 10px;
    font-weight: bold;
}
/*Background*/
.main {
    background-image: url('../img/acampamento.png');
    height: 100%; 
    width: 100%;
    margin-top: -150px;
    background-position: center; 
    background-repeat: no-repeat;
    background-size: cover;
}
.container-home{
    background-color: rgba(0,0,0,0.35);
    height: 100%;
    width: 100%;
}
.text-home{
    max-width: 990px;
    height: 100%;
    color: #000;
    margin: 0 auto;
    display:flex;
    font-weight: 800;
    line-height: 72px;
    letter-spacing: 0em;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-around;
}
.button-home{
    padding: 20px 30px;
    display: flex;
    flex-wrap: wrap;
}
.btn{
    padding: 20px 30px;
    margin: 10px 20px;
    border-radius: 48px;
    font-size: 18px;
    background-color: Transparent;
    border-color: #000;
    font-weight: bold;
    cursor: pointer;
}
/*encontre aqui*/
.find-content{
    
    display: flex;
    justify-content: center;
    align-self: center;
    flex-wrap: wrap;
    padding: 30px
}
.find-content .find-card {
    position: relative;
    max-width: 300px;
    height: 180px;
    background: #D6A649;
    margin: 30px 10px;
    padding: 20px 15px;
    display: flex;
    flex-direction: column;
    box-sizing: 0 5px 202px rgba(0,0,0,0.5);
    transition: 0.3s ease-in-out;
}
.find-card:hover{
    height: 420px;
}
.find-content .find-card .imgBx{
    position: relative;
    width: 260px;
    height: 260px;
    top: -60px;
    left: 5px;
    box-shadow: 0 5px 20px rgba(0,0,0,0.6);
}
.find-content .find-card .imgBx img{
    max-width: 100%;
    border-radius: 4px;
}
.find-content .find-card .find-description{
    position: relative;
    margin-top: -140px;
    padding: 10px 15px;
    text-align: center;
    color: #111;
    visibility: hidden;
    opacity: 0;
    transition: 0.3s ease-in-out;
}
.find-content .find-card:hover .find-description{
    visibility: visible;
    opacity: 1;
    margin-top: -60px;
}